<div class="container-fluid">
  <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Add Recipe</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Recipe 1</a></li>
          <li><a class="dropdown-item" href="#">Recipe 2</a></li>
          <li><a class="dropdown-item" href="#">Recipe 3</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Other Recipe</a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Contact</a>
      </li>
    <form class="d-flex ms-auto" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <div style="margin-left:10px ;">
      {% if user.is_authenticated %}
      <a class="btn btn-outline-danger" href="{% url 'logout' %}" type="submit">Sign Out</a>
      {% else %}
      <a class="btn btn-outline-dark" href="{% url 'login' %}" type="submit">Sign In</a>
      <a class="btn btn-outline-white" href="{% url 'register' %}" type="submit">Sign Up</a>
      {% endif %}
    </div>
  </ul>
</div>