{% extends 'main/base.html' %}
{% block content %}
<div class="container">
<h3><center>Home page</center></h3>
    <h5>Recipe's of your choice</h5><br>
    {% for recipe in recipes %}
    <div class="card" style="width: 17rem;display: inline-flex;margin:15px;padding:10px;height:330px">
        <img src="{{recipe.image.url}}" style="height: 200px;" class="card-img-top" alt="{{recipe.name}}_image">
        <div class="card-body">
          <h5 class="card-title">{{recipe.title}}</h5>
          <span style="color: crimson;">${{recipe.price}}</span>
          <div class="d-flex justify-content-end">
            <a href="#" class="btn btn-primary">View More</a>
          </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}