{% extends 'main/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
<h2><center>{{recipe.name}} Recipe</center></h2>
<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form|crispy}}
    <div class="container">
        Do you want to delete {{recipe.name}}
        <br><br>
        <div class="container">
            <button type="submit" class="btn btn-danger">
                Yes
            </button>
            <a href="{% url 'recipe-detail' recipe.pk %}" class="btn btn-secondary">
                Close
            </a>
        </div>
    </div>
</form>
{% endblock content %}